.header-gradient-text {
    display: inline-block;
    font-weight: bold;
    width: 0%;
    font-size: 4rem;
    padding: 4rem;
    white-space: nowrap;
    // color: white;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-clip: text;
    -webkit-background-clip: text;
    animation: typewriting 1.2s steps(18) 2s 1 normal forwards;

}
@keyframes typewriting {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}